@page
@model ProjectFinal.Pages.Managerment.DetailInventoryModel
@{
    ViewData["Title"] = "Chi Tiết";
}
<div class="row" style="height:100px;">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <i class="fa fa-align-justify"></i> Chi Tiết Thông Tin Đối Tác
                </div>
            </div>
            <div class="p-3">
                <dl class="row">
                    <dt class="col-sm-2 ">
                        @Html.DisplayNameFor(model => model.InforImport.Idimport)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InforImport.Idimport)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </dt>
                    <dd class="col-sm-10">
                       @Html.DisplayFor(model => model.Product.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.Producer)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Product.Producer)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InforImport.ImportPrice)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InforImport.ImportPrice)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.SalePrice)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Product.SalePrice)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InforImport.DateImport)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InforImport.DateImport)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InforImport.DateExpiry)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InforImport.DateExpiry)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Suppiler.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Suppiler.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InforImport.QuantityImport)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InforImport.QuantityImport)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProductType.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProductType.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.Unit)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Product.Unit)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InforImport.Discount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InforImport.Discount)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InforImport.Shelves)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InforImport.Shelves)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Product.Status)
                    </dd>
                </dl>
                <div class="mt-5">
                    <a asp-page="./UpdateInforProducts" asp-route-id="@Model.InforImport?.Idimport">Sửa</a> |
                    <a asp-page="./InventoryControlProduct">Danh Sách</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}