@page
@model ProjectFinal.Pages.Managerment.PriceSettingModel
@{
    var pageingmodel = new Helper.PagingModel()
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? p) => @Url.Page("/Managerment/PriceSetting", new { p = p })
            };

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <i class="fa fa-align-justify"></i> Thiết Lập Giá
                </div>
                <div class="row">
                    <form method="get">
                        <div class="row">
                            <input style="width: 200px;" type="text" class="form-control" value="@Model.searchString" name="searchString" placeholder="Nhập tên đối tác...">
                            <button type="submit" class="btn btn-primary mx-3">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Mã Sản Phẩm</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Giá Bán</th>
                            <th>Đơn Vị</ th>
                            <th>Trạng Thái</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Products != null)
                        {
                            @foreach (var p in Model.Products)
                            {
                                @if (@p.Status == true)
                                {
                                    <tr>
                                        <td>@p.Id</td>
                                        <td>@p.Name</td>
                                        <td>
                                            <input class="form-control" id='priceP-@p.Id' type="number" onclick='updateP(@p.Id)' value="@p.SalePrice">
                                        </td>
                                        <td>@p.Unit</td>
                                        <td>
                                            <p>Đang Kinh Doanh</p>
                                        </td>
                                        <td style="width: 150px">
                                            <div class="d-flex justify-content-around">
                                                <a style="width:50px; height: 30px" class="btn btn-success mx-2 my-2" asp-page="./DetailProducts" asp-route-id="@p.Id">Xem</a>
                                                <a style="width:50px; height: 30px" class="btn btn-warning mx-2 my-2" asp-page="./UpdateProducts" asp-route-id="@p.Id">Sửa</a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            }
                        }
                        else
                        {

                            <p>Không có sản phẩm nào được tìm thấy</p>
                        }
                    </tbody>
                </table>
                <partial name="_Page" model="@pageingmodel" />
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<script>

    $(document).on('input', 'input[id^="priceP-"]', function() {
        var inputSuffix = $(this).attr('id').split('-')[1];
        var newPrice = $(this).val();
        updateT(inputSuffix, newPrice);
    });
    function updateT(id, newPrice) {
        $.ajax({
            url: 'http://localhost:5047/Managerment/UpdatePrice/?handler=Update',
            type: 'get',
            data: {
                Id: parseInt(id),
                Price: parseFloat(newPrice)
            },
            success: function(result) {
                alert('Sửa giá thành công!');
            },
            error: function() {
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
    }
    function updateP(id) {
               
        var newPrice = $('#priceP-' + id).val();
        $.ajax({
            url: 'http://localhost:5047/Managerment/UpdatePrice/?handler=Update',
            type: 'get',
            data: {
                Id: parseInt(id),
                Price: parseFloat(newPrice)
            },
            success: function(result) {
                console.log('Sửa giá thành công!');
            },
            error: function() {
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            }
        });
    }

</script>
