@page
@model ProjectFinal.Pages.Admin.Transaction.BillsModel
@{
    var pageingmodel = new Helper.PagingModel()
            {
                currentpage = Model.currentPage,
                countpages = Model.countPages,
                generateUrl = (int? p) => @Url.Page("/Admin/Transaction/Bills", new { p = p })
            };
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <i class="fa fa-align-justify"></i> Danh Sách Hóa Đơn Mua Hàng
                </div>
                <div class="row">
                    <form method="get">
                        <div class="row">
                            <input style="width: 200px;" type="text" class="form-control" value="@Model.searchString" name="searchString" placeholder="Nhập tên khách hàng...">
                            <button type="submit" class="btn btn-primary mx-3">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>UserName</th>
                            <th>Tên Người Nhập</th>
                            <th>Ngày Nhập </th>
                            <th>Khách Hàng</th>
                            <th>Tổng Hóa Đơn</th>
                            <th>Thanh Tóan</th>
                            <th>Nợ</th>
                            <th>Giao Hàng</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Billeds != null)
                        {
                            @foreach (var p in Model.Billeds)
                            {
                                <tr>
                                    <td>@p.Id</td>
                                    <td>@p.Username</td>
                                    <td>@Model.Users.SingleOrDefault(e => e.Username == p.Username).Name</td>
                                    <td>@p.DateImport</td>
                                    <td>@Model.Customers.SingleOrDefault(e => e.Id == p.Idcustomer).Name</td>
                                    <td>@p.TotalBill</td>
                                    <td>@p.Deposit</td>
                                    <td>@p.Debt</td>
                                    <td>
                                        @if (@p.Status == true)
                                        {
                                            <p>Đã Giao Hàng</p>
                                        }
                                        else
                                        {
                                            <p>Chưa Giao Hàng</p>
                                        }

                                    </td>
                                    <td style="width: 150px">
                                        <div class="d-flex justify-content-around">
                                            <a style="width:100px; height: 30px" class="btn btn-success mx-2 my-2" asp-page ="./BillDetail"  asp-route-id="@p.Id">Chi Tiết</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {

                            <p>Không có sản phẩm nào được tìm thấy</p>
                        }
                    </tbody>
                     <partial name="Admin/Shared/_Page" model="@pageingmodel" />
                </table>
                
            </div>
        </div>
    </div>
    <!-- /.col-->

</div>
