@page
@model ProjectFinal.Pages.Suppiler.SuppilersModel
@{
    var suppiler = Model.suppiler;
    var listSuppilers = Model.dbContext.Suppliers.ToList();
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <i class="fa fa-align-justify"></i> Danh Sách Nhà Phân Phối
                </div>
                <div class="row">
                    <input style="width:200px" class="form-control col-lg-5" type="text" placeholder="Tìm Kiếm">
                    <p class="col-lg-1"></p>
                    @*<button style="width:100px" id="createSupplier" class="btn btn-block btn-primary col-lg-5">Thêm Mới</button>*@
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                        Thêm Mới
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Nhà Phân Phối </th>
                            <th>Email</th>
                            <th>Số Điện Thoại</th>
                            <th>Địa Chỉ</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listSuppilers != null)
                        {
                            @foreach (var s in listSuppilers)
                            {
                                <tr>
                                    <td>@s.Id</td>
                                    <td>@s.Name</td>
                                    <td>@s.Email</td>
                                    <td>@s.Phone</td>
                                    <td>@s.Address</td>
                                    <td style="width: 150px">
                                        <div class="d-flex justify-content-around">
                                            <button style="width:50px; height: 30px" class="btn btn-success" data-toggle="modalView" data-target="#viewModal">Xem</button>
                                            <button style="width:50px; height: 30px" class="btn btn-warning" data-toggle="modalUpdate" data-target="#updateModal">Sửa</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <p>Không có nhà phân phối nào được tìm thấy</p>
                        }

                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>
<!-- Add new supplier -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Tạo Thông Tin Nhà Phân Phối</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control mt-3" id="nameSupplier" type="text" placeholder="Tên Nhà Phân Phối ">
                <input class="form-control mt-3" id="emailSupplier" type="text" placeholder="Email">
                <input class="form-control mt-3" id="phoneSupplier" type="text" placeholder="Số Điện Thoại">
                <input class="form-control mt-3" id="addressSupplier" type="text" placeholder="Địa Chỉ">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="createSupplier()">Tạo</button>
            </div>
        </div>
    </div>
</div>

<script>
    function createSupplier() {
        // Lấy dữ liệu từ các input fields trong form modal
        var name = $('#nameSupplier').val();
        var email = $('#emailSupplier').val();
        var phone = $('#phoneSupplier').val();
        var address = $('#addressSupplier').val();

        // Gửi dữ liệu lên server bằng phương thức POST
        $.ajax({
            url: '/Supplier/Suppliers/?handler=CreateSupplier',
            type: 'post',
            data: {
                Name: name,
                Email: email,
                Phone: phone,
                Address: address
            },
            success: function(result) {
                // Sau khi tạo thành công, ẩn modal
                $('#createModal').modal('hide');

                // Reload trang để cập nhật danh sách nhà phân phối
                //location.reload();
            },
            error: function() {
                // Xử lý lỗi tại đây
                alert('Đã có lỗi xảy ra, vui lòng thử lại sau');
            }
        });
    }
</script>


