@page
@model ProjectFinal.Pages.Suppiler.SuppilersModel
@{
    var suppiler = Model.suppiler;
    var listSuppilers = Model.dbContext.Suppliers.ToList();
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <i class="fa fa-align-justify"></i> Danh Sách Nhà Phân Phối
                </div>
                <div class="row">
                    <input style="width:200px" class="form-control col-lg-5" type="text" placeholder="Tìm Kiếm">
                    <p class="col-lg-1"></p>
                    <button id="addNewButton">Thêm mới</button>
                    @*<button style="width:100px" id="createSupplier" class="btn btn-block btn-primary col-lg-5">Thêm Mới</button>*@
                </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Nhà Phân Phối </th>
                            <th>Email</th>
                            <th>Số Điện Thoại</th>
                            <th>Địa Chỉ</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listSuppilers != null)
                        {
                            @foreach (var s in listSuppilers)
                            {
                                <tr>
                                    <td>@s.Id</td>
                                    <td>@s.Name</td>
                                    <td>@s.Email</td>
                                    <td>@s.Phone</td>
                                    <td>@s.Address</td>
                                    <td style="width: 150px">
                                        <div class="d-flex justify-content-around">
                                            <a style="width:50px; height: 30px" class="btn btn-success" href="#">Xem</a>
                                            <a style="width:50px; height: 30px" class="btn btn-warning" href="#">Sửa</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <p>Không có nhà phân phối nào được tìm thấy</p>
                        }

                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>

<!-- Add new supplier -->
<div id="newItemForm" style="display:none;">
   <form>
      <!-- Các trường nhập liệu của form -->
   </form>
</div>

<script>
   var addButton = document.getElementById("addNewButton");
   var newItemForm = document.getElementById("newItemForm");

   addButton.addEventListener("click", function(){
       newItemForm.style.display = "block";
   });
</script>
